.progress-bar {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #6769df;
    transition: width 0.5s ease-in-out;
  }
  